html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title CRUD
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		
	body
		block content
			.main.container
				.row
					.col-md-6.col-md-offset-3
						h1.display-4.m-b-2 Editar Usuario
						form(method='POST' action='/editarUsuario')
							div.form-group
								label(for='id') id:
								input.form-control(type='text' name='_id' value=data._id)
							div.form-group
								label(for='celular') Celular:
								input.form-control(type='text' name='celular' value=data.celular)
							div.form-group
								label(for='dni') DNI:
								input.form-control(type='text' name='dni' value=data.dni)
							div.form-group
								label(for='nick') Nick:
								input.form-control(type='text' name='nick' value=data.nick)
							div.form-group
								label(for='password') Contraseña:
								input.form-control(type='text' name='password' value=data.password)
							div.form-group
								label(for='correo') Correo Electronico:
								input.form-control(type='text' name='correo' value=data.correo)
							div.form-group
								label(for='direccion') Direccion:
								input.form-control(type='text' name='direccion' value=data.direccion)
							button.btn.btn-success(type='submit') Guardar cambios
							